.homescreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.homescreen-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footnotes-area {
  width: 100%;
  text-align: center;
}
.footnote {
  margin: 3px 0px;
}

.homescreen-button {
  padding: 20px 50px;
  background: linear-gradient(gray, darkgray);
  border-radius: 10px;
  font-size: 120%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.homescreen-button:hover {
  font-weight: bold;
  background: gray;
}
